.priceItem {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 200px;
  padding: 16px;
  border-radius: 6px;

  @media (min-width: $screenTb) {
    height: 100%;
    align-items: center;
    border-radius: 0;

    &:nth-child(2) {
      border-radius: 6px 6px 0 0;
    }

    &:last-child {
      border-radius: 0 0 6px 6px;
    }
  }

  @media (min-width: $screenDt) {
    padding: 16px 24px;
  }



  & :first-child {
    width: 350px;
  }

  & :nth-child(2) {
    width: 75px;
  }

  & :nth-child(3) {
    width: 82px;
  }

  & :last-child {
    width: 120px;
  }

  &__text {
    font-size: 14px;

    &--gray {
      color: $headerText;
    }
  }

  &--services,
  &--price,
  &--time {
    &::before {
      display: block;
      color: $headerText;

      @media (min-width: $screenTb) {
        display: none;
      }
    }

  }

  &--services {
    &::before {
      content: 'Ремонтные услуги';
    }
  }

  &--price {
    &::before {
      content: 'Цена';
    }
  }

  &--time {
    &::before {
      content: 'Срок';
    }
  }

  &--title {
    padding-top: 0;
    display: none;

    @media (min-width: $screenTb) {
      display: flex;
    }
  }

  &--background {
    background: $headerColor;
    width: 260px;

    flex-direction: column;

    @media (min-width: $screenTb) {
      position: relative;
      width: auto;
      flex-direction: row;

      &::after {
        content: '';
        position: absolute;
        background: $rectangle;
        bottom: 0;
        width: 95%;
        height: 1px;
      }
    }

  }
}
