.sidebar {
  width: 100%;
  background-color: rgba(255,255,255,0.9);
  color: #1B1C21;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: auto;
  float: left;

  @media (min-width: $screenDt) {
    position: static;
  }

  &__wrapper {
    display: none;
    width: 320px;
    background-color: $headerColor;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 5px 24px;
    box-shadow: 16px 0 52px #0E185033;
    height: 100vh;
    min-height: 745px;

    @media (min-width: $screenDt) {
      display: block;
    }

  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 92px;
  }

  &__logo_position {
    margin-left: 16px;
    position: relative;
  }

  &__button:last-child {
    margin-left: auto;
  }

  &__main {

  }

  &__footer {
    margin-top: auto;
  }

}
