$screenTb: 768px;
$screenDt: 1120px;

$bgColor: #F8F8F8;
$headerColor: #FFF;
$borderBottom: #D9FFF5;
$rectangle: #EAEAEA;
$button: #FF3E79;
$modalOpacity: rgba(255,255,255,55%);

$mainText: #1B1C21;
$headerText: #7E7E82;

$regularFont: 'TTLakes-Regular', serif;
$boldFont: 'TTLakes-Bold', serif;
$mediumFont: 'TTLakes-Medium', serif;

$bgButton: url('../img/button.svg');
